<div class="modal fade" id="roleModal" tabindex="-1" aria-labelledby="roleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roleModalLabel">Настройка ролей</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <p><strong>Пользователь ID:</strong> <span id="modalUserId"></span></p>
        <p><strong>Текущая роль:</strong> <span id="modalUserRole"></span></p>
        <!-- Тут можно добавить форму для изменения роли -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <!-- Можно добавить кнопку "Сохранить" -->
      </div>
    </div>
  </div>
</div>