@model FinancialManagement.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated && Model != null)
{
    <h2>Добро пожаловать, @Model.Name!</h2>
    <p>Email: @Model.Email</p>
    <p>Ваш тариф: @Model.Tariff</p>
    <p>Ваша роль: @Model.Role</p>
}
