@using FinancialManagement.Helpers
@model FinancialManagement.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated && Model != null)
{
    
    <h2>Welcome, @Model.Name!</h2>
    <p>Email: @Model.Email</p>
    <p>Ваш тариф: @Model.Tariff</p>
    <p>Ваши роли: @RoleHelper.GetRolesDisplay(Model.Roles!)</p>
}
